<!-- Latrchive Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

			<h3>10 Recent posts</h3>


				{% for post in site.posts offset: 1 limit: 10 %}
					<strong>
					<a href="{{ post.url }}">{{ post.title }}</a>-{{ post.date | date_to_string }}</strong>
					<small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
						<!-- <p>{{ post.content | truncatewords:30 }}</p> -->
				{% endfor %}
        <h4><a href="{{site.baseurl}}/blog/">All posts</a></h4>

    </div>
  </div>
</section>

<!-- Latrchive End -->
 