
<!-- Social Buttons Start -->

<ul class="list-inline social-buttons">
  <!-- {% for network in site.social %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
  {% endfor %}
  Place this code where you want the badge to render.
<li><a href="//plus.google.com/u/0/105497065260169468916?prsrc=3" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li> -->
<ul class="list-inline social-buttons">
  {% for network in site.social %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
  {% endfor %}
</ul>

    <!-- <li><a href="https://facebook.com/calmapit" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>

    <li><a href="https://twitter.com/shmiko" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>

    <li><a href="https://github.com/shmiko" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>

    <li><a href="https://au.linkedin.com/in/jonespaulr" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>

    <li><a href="//plus.google.com/u/0/105497065260169468916?prsrc=3" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li> -->

</ul>

<!-- Social Buttons End -->
